networks:
  taco_network:
    driver: bridge
    name: taco_network

volumes:
  taco_postgres:
    driver: local
    name: taco_postgres

services:
  taco_postgres:
    image: postgres:alpine3.13
    container_name: taco_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: taco
      POSTGRES_PASSWORD: taco
      POSTGRES_DB: taco
    volumes:
      - taco_postgres:/var/lib/postgresql/data
    networks:
      - taco_network

  taco:
    build:
      context: .
    ports:
      - "9000:9000"
    depends_on:
      - taco_postgres
    networks:
      - taco_network
    volumes:
      - .:/app
    env_file:
      - ./.env
    container_name: taco
